<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="me.maxistar.voiceinbox.TestAudioDocumentsProvider"
            android:authorities="me.maxistar.voiceinbox.test.documents"
            android:exported="true" />
    </application>
</manifest>
